@import './styles-platform/macos.css';
@import './styles-platform/windows.css';
@import './styles-platform/ubuntu.css';
@import './scrollbar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  background: #09090b;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .animate-button-pulse {
    animation: button-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  @keyframes button-pulse {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: .7; transform: scale(0.95); box-shadow: 0 0 10px 1px rgba(168, 85, 247, 0.4); }
  }
}
